* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background: #636262;
  background: -webkit-gradient(linear, left top, right top, color-stop(45%, #636262), to(black));
  background: linear-gradient(90deg, #636262 45%, black 100%);
  color: white;
}

html header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3a3a3a;
}

html header p.nameFenetre {
  margin-right: 35rem;
  font-family: pacifico;
  font-size: 30px;
}

html header p.nameGsm {
  display: none;
}

html header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: white;
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;
  background: black;
  background: linear-gradient(45deg, black 0%, #787676 50%, black 100%);
  border: 2.5px solid #787676;
  font-family: pacifico;
}

html header a:hover {
  -webkit-animation: extend 2s infinite;
          animation: extend 2s infinite;
}

html header .page {
  color: black;
}

@media screen and (max-width: 700px) {
  p.nameFenetre {
    display: none !important;
  }
  p.nameGsm {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    background-color: grey;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: pacifico;
    font-size: large;
  }
  header {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  a {
    padding-left: 9% !important;
    padding-right: 9% !important;
    margin-bottom: 2%;
    border-radius: 0px !important;
  }
}

@font-face {
  font-family: "Chilanka";
  src: url("/assets/font/Chilanka/Chilanka-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Pacifico";
  src: url("/assets/font/Pacifico/Pacifico-Regular.ttf") format("truetype");
}

@-webkit-keyframes extend {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes extend {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
