body{
    margin: 0 auto;
    background-color: rgb(95, 89, 89);

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    p{
        text-align: center;
    }
}